body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  height: 700px;
  width: 1000px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-section img {
  width: 80%;
  /* or any size you want */
  height: auto;
  /* keeps aspect ratio */
  margin: 0 auto;
  /* centers the image */
  display: block;
}

.slogan {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #222;
  margin: 30px 0;
}

.slogan .highlight {
  color: #2563eb;
  font-weight: 500;
}

.right-section img {
  width: 70%;
  /* or any size you want */
  height: auto;
  /* keeps aspect ratio */
  margin: 0 auto;
  /* centers the image */
  display: block;
}

.label {
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
}

.input-field {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #0c4a86;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.login-button {
  border: none;
  margin-top: 10px;
  height: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  background-color: #0c4a86;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

.login-button:hover {
  opacity: 0.8;
}

.login-button:active {
  opacity: 0.5;
}

.sign-up-text {
  margin-top: 20px;
  font-size: 14px;
  align-self: center;
}

.sign-up {
  color: #0c4a86;
  cursor: pointer;
}

.message {
  font-size: 20px;
  color: red;
  align-self: center;
}
