body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.register-container {
  margin-top: 3 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  padding: 20px;
}

.register-container img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.title {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #0c4a86;
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
}

.input-field {
  width: 400px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #0c4a86;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.login-button {
  margin-top: 10px;
  height: 50px;
  width: 420px;
  border-radius: 10px;
  border: none;
  height: 50px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  background-color: #0c4a86;
  color: white;
  font-size: 16px;
}

.login-button:hover {
  opacity: 0.8;
}

.login-button:active {
  opacity: 0.5;
}

.sign-up-text {
  margin-top: 20px;
  font-size: 14px;
  align-self: center;
}

.sign-up {
  color: #0c4a86;
  cursor: pointer;
}

.message {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  color: red;
}
