.title-container {
  background-color: #0c4a86;
  height: 200px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.title-text {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 50px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
}

.details {
  height: 180px;
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.etona-details {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.type-of-work {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.towt {
  font-size: 16px;
}
.type-of-work-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.apply-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.apply-button {
  padding: 20px;
  width: 400px;
  border: none;
  background-color: #0c4a86;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

.apply-button:hover {
  opacity: 0.7;
}

.apply-button:active {
  opacity: 0.4;
}

.job-overview {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding-bottom: 20px;
}

.img-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  border-bottom: 1px solid #e2e2e2;
}

.overview-img {
  margin-left: 30px;
}
.job-overview-text {
  font-size: 18px;
  font-weight: bold;
}

.skills-requirement {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding-bottom: 50px;
}

.about-employer {
  width: 60%;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.employer-text {
  font-size: 18px;
  font-weight: bold;
}

.overview-div {
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}

.responsibility-div {
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}

ul {
  margin-top: 0;
}

.qualification-div {
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 25px;
}

.employer-div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.value {
  font-weight: bold;
}

.skills-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  height: 50px;
}

.skill {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  background-color: #0c4a86;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
